<div class="widgets">

  <div ng-controller="SutCtrl">

    <div ng-if="loaded.suts" ng-controller="ViewerCtrl">
      <div class="form-group" >
        <label for="queryForm">Please select the appropriate test data:</label>
        <form name="queryForm">
          <div class="col-md-4">
            <select class="form-control" title="Please select a SUT" selectpicker
              ng-init="selected.active.sut = suts[0]"
              ng-model="selected.active.sut"
              ng-options='sut as (sut.sut + " (" + sut.version + ")") group by sut.sut for sut in suts'
              ng-change="loadTests(selected.active.sut.key)"
              />
          </div>

          <div class="col-md-4" ng-if="loaded.suts && loaded.tests">
            <select class="form-control selectpicker" title="Please select a test" selectpicker
              ng-init="selected.active.test = testInfo[0]"
              ng-model="selected.active.test"
              ng-options='test as (test.test_id + " (" + test.os_name + "-" + test.os_version + " " + test.protocol + " " + test.start_time + ")") for test in testInfo'
            />
          </div>

          <div class="col-md-1" ng-if="loaded.suts && loaded.tests">
              <select class="form-control durationpicker" selectpicker title="Start Time"
                ng-init="selected.active.start_time = start_times[0]"
                ng-model="selected.active.start_time"
                ng-options="start_time as start_time.label for start_time in start_times"
                >
              </select>
          </div>

          <div class="col-md-1" ng-if="loaded.suts && loaded.tests">
              <select class="form-control durationpicker" selectpicker title="Duration"
                ng-init="selected.active.duration = durations[0]"
                ng-model="selected.active.duration"
                ng-options="duration as duration.label for duration in durations">
              </select>
          </div>
        </form>

        <div class="col-md-12">
          <p></p>
        </div>

        <div class="col-md-12" ng-if="loaded.suts && loaded.tests && (selected.active.sut != null)">
          <div ba-panel ba-panel-title="Test Execution Details" ba-panel-class="with-scroll table-panel">
            <div include-with-scope="app/pages/performance/widgets/stats.html"></div>
          </div>
        </div>

        <div class="col-md-12" ng-if="loaded.suts && loaded.tests && (selected.active.sut != null)" ng-show="plotted.rthroughput">
          <div class="row">
            <div
              ba-panel
              ba-panel-title="Broker Receiver Throughput Performance for {{ selected.active.sut.sut }} {{ selected.active.sut.version }}: {{ selected.active.test.test_id }}"
              ba-panel-class="with-scroll">
                <div id="throughputChart" class="admin-chart"
                  ng-controller="ThroughputCtrl"
                  ng-init="tpInitThroughput(selected.active.sut.key, selected.active.test.test_id, selected.active.sut.version, selected.active.test.start_time, selected.active.start_time.value, selected.active.duration.value, 'receiver')">
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" ng-if="loaded.suts && loaded.tests && (selected.active.sut != null)" ng-hide="plotted.rthroughput">
          <div class="alert bg-danger">
            There are no receiver throughput records for the selected
            <strong>{{ selected.active.sut.sut }} {{ selected.active.sut.version }}</strong>
            test combination and/or range. Please selected another one.
          </div>
        </div>

        <div class="col-md-12" ng-if="loaded.suts && loaded.tests && (selected.active.sut != null)" ng-show="plotted.rlatency">
          <div class="row">
            <div
              ba-panel
              ba-panel-title="Broker Receiver Latency Performance for {{ selected.active.sut.sut }} {{ selected.active.sut.version }}: {{ selected.active.test.test_id }}"
              ba-panel-class="with-scroll">
                <div id="latencyChart" class="admin-chart"
                  ng-controller="LatencyCtrl"
                  ng-init="tpInitLatency(selected.active.sut.key, selected.active.test.test_id, selected.active.sut.version, selected.active.test.start_time, selected.active.start_time.value, selected.active.duration.value)">
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" ng-if="loaded.suts && loaded.tests && (selected.active.sut != null)" ng-hide="plotted.rlatency">
          <div class="alert bg-danger">
            There are no receiver latency records for the selected
            <strong>{{ selected.active.sut.sut }} {{ selected.active.sut.version }}</strong>
            test combination and/or range. Please selected another one.
          </div>
        </div>

        <div class="col-md-12" ng-if="loaded.suts && loaded.tests && (selected.active.sut != null)" ng-show="plotted.sthroughput">
          <div class="row">
            <div
              ba-panel
              ba-panel-title="Broker Sender Throughput Performance for {{ selected.active.sut.sut }} {{ selected.active.sut.version }}: {{ selected.active.test.test_id }}"
              ba-panel-class="with-scroll">
                <div id="senderThroughputChart" class="admin-chart"
                  ng-controller="ThroughputCtrl"
                  ng-init="tpInitThroughput(selected.active.sut.key, selected.active.test.test_id, selected.active.sut.version, selected.active.test.start_time, selected.active.start_time.value, selected.active.duration.value, 'sender')">
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" ng-if="loaded.suts && loaded.tests && (selected.active.sut != null)" ng-hide="plotted.sthroughput">
          <div class="alert bg-danger">
            There are no sender throughput records for the selected
            <strong>{{ selected.active.sut.sut }} {{ selected.active.sut.version }}</strong>
            test combination and/or range. Please selected another one.
          </div>
        </div>
      </div>
  </div>
</div>
