<div class="widgets">

  <div ng-controller="SutCtrl">

    <div ng-if="loaded.suts" ng-controller="ViewerCtrl">
      <div class="form-group" >
        <label for="queryForm">Receiver:</label>
        <form name="queryForm">
          <!-- TODO Defaults to [3] because I am using 0 to have an error result -->
          <div class="col-md-4">
            <select class="form-control" title="Please select a SUT" selectpicker
              ng-init="selected.active.sut = suts[0]"
              ng-model="selected.active.sut"
              ng-options='sut as (sut.sut + " (" + sut.version + ")") group by sut.sut for sut in suts'
              ng-change="loadTests(selected.active.sut.key)"
              />
          </div>

          <div class="col-md-4" ng-if="loaded.suts && loaded.tests">
            <select class="form-control selectpicker" title="Please select a test" selectpicker
              ng-init="selected.active.test = testInfo[0]"
              ng-model="selected.active.test"
              ng-options='test as (test.test_id + " (" + test.os_name + "-" + test.os_version + " " + test.protocol + " " + test.start_time + ")") for test in testInfo'
            />
          </div>

          <div class="col-md-1" ng-if="loaded.suts && loaded.tests">
              <select class="form-control durationpicker" selectpicker title="Start Time"
                ng-init="selected.active.start_time = start_times[0]"
                ng-model="selected.active.start_time"
                ng-options="start_time as start_time.label for start_time in start_times"
                >
              </select>
          </div>

          <div class="col-md-1" ng-if="loaded.suts && loaded.tests">
              <select class="form-control durationpicker" selectpicker title="Duration"
                ng-init="selected.active.duration = durations[0]"
                ng-model="selected.active.duration"
                ng-options="duration as duration.label for duration in durations">
              </select>
          </div>
        </form>

        <div class="col-md-12">
          <p></p>
        </div>
        <div class="col-md-12" ng-if="loaded.suts && loaded.tests && (selected.active.sut != null)">
          <div class="row">
            <div
                ba-panel
                ba-panel-title="Broker Throughput Performance for {{ selected.active.sut.sut }} {{ selected.active.sut.version }}: {{ selected.active.test.test_id }}"
                ba-panel-class="with-scroll">
                  <div id="lineChart" class="admin-chart"
                    ng-controller="ThroughputCtrl"
                    ng-init="tpInitFunction(selected.active.sut.key, selected.active.test.test_id, selected.active.sut.version, selected.active.test.start_time, selected.active.start_time.value, selected.active.duration.value)"
                  />
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
</div>
