<div class="widgets">


  <div class="form-group" ng-controller="ViewerCtrl">



    <div class="row">
      <div class="col-md-6"
        <p>Please select a SUT to compare with:</p>
        <select class="form-control selectpicker" title="Please select a SUT" selectpicker
              ng-init="selectSutsA = suts[0]"
              ng-model="selectSutsA"
              ng-options="sut as sut.sut for sut in suts"
        />
      </div>
      <div class="col-md-6"
        <p>Please select a SUT to compare with:</p>
        <select class="form-control selectpicker" title="Please select a SUT to compare with" selectpicker
              ng-init="selectSutsB = suts[0]"
              ng-model="selectSutsB"
              ng-options="sut as sut.sut for sut in suts"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6"
           ba-panel
           ba-panel-title="Broker Performance for {{ selectSutsA.sut }}"
           ba-panel-class="with-scroll">
          <div id="lineChart" class="admin-chart" ng-controller="ThroughputCtrl" ng-init="init('{{ selectSutsA.sut }}', 'abc')"></div>
      </div>

      <div class="col-md-6"
           ba-panel
           ba-panel-title="Broker Performance for {{ selectSutsB.sut }}"
           ba-panel-class="with-scroll">
          <div id="lineChart" class="admin-chart" ng-controller="ThroughputCtrl" ng-init="init('{{ selectSutsB.sut }}', 'abc')"></div>
      </div>
    </div>




  </div>

</div>
